<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication1</title>
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
</head>
<body>
    <div class="Main">
        @RenderBody()
    </div>
        <table class="dropdown" id="dropdown">
            <tr>
                <td>
                    <button class="button" onclick="addPower()">
                        <img class="upgradeImg" src="/Image/increaseIncome.webp" width="25px" height="25px"/>
                        <p class="text">Income "<p id="powerCost">5</p>" [<p id="powers">0</p>]</p>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <button class="button" onclick="addAuto()">
                        <img class="upgradeImg" src="/Image/increaseTrees.webp" width="25px" height="25px"/>
                        <p class="text">Auto Grower "<p id="clickersCost">10</p>" [<p id="autoClickers">0</p>]</p>
                    </button>                    
                </td>
            </tr>
            <tr>
                <td>
                    <button class="button" onclick="IncAutoValue()">
                        <img class="upgradeImg" src="/Image/increaseTreesValue.webp" width="25px" height="25px"/>
                        <p class="text">Grower Income "<p id="incAutoCost">100</p>" [<p id="autoValue">0</p>]</p>
                    </button>                    
                </td>
            </tr>
        </table>
        <table class="UpgradeMenu">
            <tr>
                <td>
                    <ul>
                        <li><button class="footerMenu" type="button" onclick="Dropdown()"></button></li>
                        <li><button class="footerMenu"></button></li>
                        <li><button class="footerMenu"></button></li>
                        <li><button class="footerMenu"></button></li>
                    </ul>
                </td>
            </tr>
        </table>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/JavaScript.js" asp-append-version="true"></script>
</body>
</html>