<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication1</title>
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
</head>
<body>
    <div class="Main">
        
        @RenderBody()
        
        <table class="dropdown" id="dropdown">
            <tr>
                <td>
                    <button class="button">
                        <img class="upgradeImg" src="/Image/increaseIncome.webp" width="25px" height="25px"/>
                        <p class="text">Increase Income </p>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <button class="button">
                        <img class="upgradeImg" src="/Image/increaseTrees.webp" width="25px" height="25px"/>
                        <p class="text">Increase Income </p>
                    </button>                    
                </td>
            </tr>
        </table>
        <table class="UpgradeMenu">
            <tr>
                <td>
                    <ul>
                        <li><button class="footerMenu" type="button" onclick="Dropdown()"></button></li>
                        <li><button class="footerMenu"></button></li>
                        <li><button class="footerMenu"></button></li>
                        <li><button class="footerMenu"></button></li>
                    </ul>
                </td>
            </tr>
        </table>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/JavaScript.js" asp-append-version="true"></script>
    </div>
</body>
</html>