@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="Container" style="margin-top: 5%;">
    <label id="counter">0</label>
</div>
<div class="Container">
    <img src="~/Image/sapling.webp" id="cookie" type="button" onclick="addCookie()" />
</div>
