@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="Container">
    <div style="display: inline-flex; justify-content: right;"><label id="counter">0</label></div>
</div>
<div class="Container">
    <div></div><img src="~/Image/sapling.webp" id="cookie" type="button" onclick="addCookie()" /></div>
</div>
